<Settings>
	<Language name="Jython">
		<extension>py</extension>
		<require>mvn://org.python:jython-standalone:2.7.0</require>
		<license name="Jython Software License" url="http://www.jython.org/Project/license.html" />
	</Language>
	<Language name="JRuby">
		<extension>rb</extension>
		<require>mvn://org.jruby:jruby-complete:9.0.0.0.rc1</require>
		<license name="EPL 1.0" url="https://github.com/jruby/jruby/blob/master/COPYING" />
	</Language>
	<Language name="Groovy">
		<extension>groovy</extension>
		<require>mvn://org.codehaus.groovy:groovy-jsr223:2.4.3</require>
		<license name="ASL 2.0" url="http://www.apache.org/licenses/LICENSE-2.0.txt" />
	</Language>
	<Language name="Scala">
		<extension>scala</extension>
		<require>mvn://org.scala-lang:scala-compiler:2.12.0-M1</require>
		<license name="BSD 3-Clause" url="http://www.scala-lang.org/license.html" />
	</Language>
	<Language name="Clojure">
		<extension>clj</extension>
		<require>mvn://org.clojars.xafero:clojure-jsr223:1.7.0.2_@_clojars.org=http://clojars.org/repo</require>
		<license name="EPL 1.0" url="http://opensource.org/licenses/eclipse-1.0.php" />
	</Language>
	<Language name="Java Expression Language (JEXL)">
		<extension>jexl</extension>
		<extension>jexl2</extension>
		<require>mvn://org.apache.commons:commons-jexl:2.1.1</require>
		<license name="ASL 2.0" url="http://www.apache.org/licenses/LICENSE-2.0" />	
	</Language>
	<Language name="Caucho Quercus (PHP 5)" >
		<extension>php</extension>
		<require>mvn://com.caucho:quercus:4.0.44_@_caucho=http://caucho.com/m2</require>
		<license name="GPL 2+" url="http://www.gnu.org/licenses/old-licenses/lgpl-2.0.html" />
	</Language>	
	<Language name="Kawa">
		<extension>scm</extension>
		<require>ftp://ftp.gnu.org/pub/gnu/kawa/kawa-2.0.jar</require>
		<license name="MIT License" url="http://opensource.org/licenses/mit-license.php" />
	</Language>
	<Language name="Java">
		<extension>java</extension>
		<require>mvn://com.github.xafero:dynjc:3075c2cb02_@_jitpack.io=https://jitpack.io</require>
		<license name="AGPL 3.0" url="http://www.gnu.org/licenses/agpl-3.0.en.html" />
	</Language>
</Settings>